#skills {
  min-height: 100vh;
}

.skills-container {
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.skills-content {
  flex-basis: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  margin-top: 3rem;
  gap: 1rem;
}

.skills-text-container {
  flex-basis: 50%;
}

.skills-heading {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  flex-basis: 100%;
}

.skills-description {
  max-width: 50ch;
}

.skill-bars {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bar {
  position: relative;
  display: flex;
  width: 100%;
  height: 2rem;
  background-color: #3b413cb6;
}

.tech {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;

  background-color: var(--primary);
  color: var(--secondary);
}

@media screen and (max-width: 900px) {
  .tech {
    width: 100px;
  }
  .skill-bars {
    align-self: stretch;
  }
  .skills-content {
    flex-direction: column;
    align-items: center;
  }
  .skills-description {
    align-self: center;
    margin-bottom: 2rem;
  }
}

.fill {
  width: 0;
  height: 2rem;
  background-color: var(--success);

  transition: width 1s ease-in-out;
}

.visible .w-50 {
  width: calc(50% - 150px);
}

.visible .w-60 {
  width: calc(60% - 150px);
}

.visible .w-70 {
  width: calc(70% - 150px);
}

.visible .w-80 {
  width: calc(80% - 150px);
}

.visible .w-90 {
  width: calc(90% - 150px);
}

.percentage {
  position: absolute;
  top: 0.5rem;
  right: 0.2rem;
  color: #f5f5f5;
}
