.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  height: 100%;
  width: max(100%, 1200px);
  padding: 4rem 1rem;

  overflow: hidden;
}

#about {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  min-height: 100vh;
}

.intro-container {
  transform: translateX(100%);
  right: -100%;
}

.portrait {
  position: absolute;
  transform: translate(-2.9%, -24.6%);

  width: 308px;
  border-radius: 50%;
  clip-path: circle(40% at 50% 60%);
}

.portrait-container {
  width: 300px;
  height: 300px;
  transform: translateX(-100%);

  border-radius: 50%;
  border: 5px solid var(--secondary);
  background-color: var(--secondary);
}

.visible .intro-container,
.visible .portrait-container {
  transform: translateX(0);
  transition: transform 1.5s ease-in-out;
}
.white-h2 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  color: var(--secondary);
}
.white-p {
  color: var(--secondary);
  max-width: 50ch;
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  .about-container {
    flex-direction: column;
  }
  .about-container > div > h2 {
    text-align: center;
  }
  .about-container {
    gap: 2rem;
  }
}
