/* Reset */
body{
    background-color: #f5f5f5;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    /* max-width: 1200px; */
    margin: 0 auto;
}

/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@300;400;500;600&display=swap');

h1,h2,h3{
    font-family: 'Bebas Neue', sans-serif;
    color: #111344;
}

p,a,button,input{
    font-family: 'Nunito', sans-serif;
    color: #111344;
}

.section-header-dark{
    font-size: 4rem;
    letter-spacing: 0.3rem;
    width: 100%;
    text-align: center;
}

.section-header-light{
    font-size: 4rem;
    letter-spacing: 0.3rem;
    color: #f5f5f5;
    width: 100%;
    text-align: center;
}

